<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="application">
<!--<![endif]-->
<head>
    <title>Application</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-default.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>

    <div class="wrapper">
        <!--=== Header ===-->
        <!--=== End Header ===-->
        <!--=== Breadcrumbs ===-->
        <!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->
        <!--=== Content Part ===-->
        <div class="container content">
            <div class="row">
                <h1 class="title">Application</h1>
                <!-- Begin Content -->
                <div class="col-md-9">
                    <div class="row margin-bottom-40">
                        <div class="col-md-12">
                            <!-- Basic Info Form -->
                            <form action="#" id="sky-form4" class="sky-form" name="basicInfo">
                                <header>Basic Info</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="FirstName" placeholder="First Name*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your first name</b>
                                            </label>
                                        </section>
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="LastName" placeholder="Last Name*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your last name</b>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="Nationality" placeholder="Nationality*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your nationality</b>
                                            </label>
                                        </section>
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                <input type="email" name="email" placeholder="Email address*">
                                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="MobileNumber" placeholder="Mobile Number*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your mobile number</b>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="select">
                                                <select name="Day">
                                                    <option value="0" selected disabled>Day</option>
                                                    <option value="1">1</option>
                                                    <option value="1">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="select">
                                                <select name="month">
                                                    <option value="0" selected disabled>Month</option>
                                                    <option value="1">January</option>
                                                    <option value="1">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-2" ng-controller="yearController">
                                            <label class="input">
                                                <input type="number" name="year" ng-model="year" ng-minlength='{{user.year.minlength}}' ng-maxlength='{{user.year.maxlength}}' min="1900" max="2016" id="year" placeholder="Year">
                                            </label>
                                            <span ng-show="basicInfo.year.$error.minlength" style="color:red;">Input is too short!</span>
                                            <span ng-show="basicInfo.year.$error.maxlength" style="color:red;">Input is too long!</span>
                                        </section>
                                    </div>
                                    <div class="row">

                                        <section class="col-lg-8">
                                            <label class="label">Source </label>
                                            <div class="inline-group">
                                                <label class="checkbox"><input type="checkbox" value="SocialMedia" name="checkbox-inline" checked><i></i>Social Media</label>
                                                <label class="checkbox"><input type="checkbox" value="FriendsAndFamily" name="checkbox-inline"><i></i>Friends and Family</label>
                                                <label class="checkbox"><input type="checkbox" value="Website" name="checkbox-inline"><i></i>Our Website</label>
                                                <!--<label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i></label>-->
                                            </div>
                                        </section>

                                    </div>
                                </fieldset>

                            </form>
                            <!-- End Basic Info Form -->
                            <!-- Education Form -->
                            <form action="#" id="sky-form4" class="sky-form" name="basicInfo">
                                <header>Education Info</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="select">
                                                <select name="month" onchange="showfield(this.options[this.selectedIndex].value)">
                                                    <option value="0" selected disabled>Degree</option>
                                                    <option value="1">Software Engineer</option>
                                                    <option value="1">CRM Software Engineer</option>
                                                    <option value="3">Business Analyst</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                <i></i>
                                            </label>
                                            <section>
                                                <label class="input">
                                                    <div id="div1"></div>
                                                </label>
                                            </section>
                                        </section>
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="Institue" placeholder="Institute*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your institute</b>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="Nationality" placeholder="GPA">
                                            </label>
                                        </section>

                                        <section class="col-lg-6">
                                            <div class="inline-group">
                                                <label class="checkbox"><input type="checkbox" value="SocialMedia" name="checkbox-inline" checked><i></i>BS</label>
                                                <label class="checkbox"><input type="checkbox" value="FriendsAndFamily" name="checkbox-inline"><i></i>MS</label>
                                            </div>
                                        </section>
                                    </div>

                                    <button style="width:80px" type="button" class="btn btn-default">Add</button>

                                </fieldset>

                            </form>
                            <!-- End Education Form -->
                            <!-- Basic Info Form -->
                            <form action="#" id="sky-form4" class="sky-form" name="basicInfo">
                                <header>Work Experience</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="employer" placeholder="Employer*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your employer name</b>
                                            </label>
                                        </section>
                                        <section class="col-lg-6">
                                            <div class="inline-group">
                                                <label class="checkbox"><input type="checkbox" value="current" name="checkbox-inline" checked><i></i>Current*</label>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="start" id="start" placeholder="Start Date">
                                            </label>
                                        </section>
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="finish" id="finish" placeholder="End Date">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="role" placeholder="Role*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your role</b>
                                            </label>
                                        </section>
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="location" placeholder="Location*">
                                                <b class="tooltip tooltip-bottom-right">Please enter your location</b>
                                            </label>
                                        </section>

                                    </div>
                                    <button style="width:80px" type="button" class="btn btn-default">Add</button>
                                </fieldset>
                            </form>

                            <form action="#" id="sky-form4" class="sky-form" name="basicInfo">
                                <header>Langage</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col-lg-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="langage" placeholder="Langage*">
                                                <b class="tooltip tooltip-bottom-right">Please enter langage</b>
                                            </label>
                                        </section>
                                        <section class="col-lg-6">
                                            <label class="select">
                                                <select name="DegreeOfProficiency">
                                                    <option selected disabled>Degree Of Proficiency</option>
                                                    <option value="Native">Native</option>
                                                    <option value="Fluent">Fluent</option>
                                                    <option value="VeryGood">Very Good</option>
                                                    <option value="Good">Good</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>

                                    <button style="width:80px" type="button" class="btn btn-default">Add</button>
                                </fieldset>
                                <fieldset>
                                    <div class="row">
                                        <section class="col-lg-1"></section>
                                        <section class="col-lg-5">
                                            <button type="submit" style=" width:100%;" class="btn btn-primary">Submit</button>
                                        </section>
                                        <section class="col-lg-5">
                                            <button  style=" width:100%;" class="btn btn-primary">Cancel</button>
                                        </section>
                                        <section class="col-lg-1"></section>
                                    </div>

                                   
                                </fieldset>
                            </form>

                            <!-- End Basic Info Form -->
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div><!--/container-->
        <!--=== End Content Part ===-->


    </div><!--/End Wrapepr-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript">
        function showfield(name) {
            if (name == 'Other') document.getElementById('div1').innerHTML = '<input type="text"  class="col-lg-6" name="other" placeholder="Other..."/>';
            else document.getElementById('div1').innerHTML = '';
        }
    </script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/forms/reg.js"></script>
    <script type="text/javascript" src="assets/js/forms/login.js"></script>
    <script type="text/javascript" src="assets/js/forms/contact.js"></script>
    <script type="text/javascript" src="assets/js/plugins/masking.js"></script>
    <script type="text/javascript" src="assets/js/plugins/datepicker.js"></script>
    <script type="text/javascript" src="assets/js/forms/comment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- Calendar Js-->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Masking.initMasking();
            Datepicker.initDatepicker();
            Validation.initValidation();
        });
    </script>
    <!-- Dob JS-->
    <script>
        var app = angular.module("application", []);
        app.controller('yearController', function ($scope) {
            $scope.user = {
                year: {
                    minlength: 4,
                    maxlength: 4
                }
            }
        });
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <script src="assets/plugins/placeholder-IE-fixes.js"></script>
        <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
        <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</body>
</html>
